*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/74/5c/c9/745cc90fcc688569610f84bc5d2b2fd6.gif);
}
.container{
    display: flex;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 580px;
    border: 2px solid;
    border-radius: 20px;
}
.logo{
    position: relative;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -70px;
    margin: 0 auto; 
    /* margin-bottom: 20px; */
    border-radius: 10px;
}
.container .box_for_got{
    width: 100%;
    padding: 50px;
}

.box_for_got h2 {
position: relative;
top: -40px;
text-align: center;
margin-bottom: 20px;
}
.input_box{
    position: relative;
    padding: 40px;
}
.input_box input{
    background: none;
    font-size: 18px;
    width: 380px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 300;
}
.input_box ::placeholder{
    position: absolute;
    top: 30%;
    left:30px;
    font-size: 1em;
    font-weight: 500;
}
.input_box .icon{
    position: absolute;
    left:3px;
    font-size: 2em;
    line-height: 57px;
}
.submit .btn{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    position: relative;
    top: 40px;
} 
.text p{
    text-align: center 
}