<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="icon" href="/src/main/webapp/View/HTML/image/Logo.jpeg">
    <link rel="stylesheet" href="/src/main/webapp/View/Css/homepage.css">
</head>

<body>
    <!-- ແກ້ Header  ໃຫມ່ -->
    <!-- header -->
    <div class="container">
        <div class="navbar">
            <img src="image/Logo.jpeg" class="Logo">
            <label>MindBigQuest</label>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Hire Freelancers</a></li>
                <li><a href="#">Get idea</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Get Start</h1>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            </p>
            <div class="btn-find">
                <button type="button">Watch more</button>
                <button type="button">Find Job</button>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- BY Jimmy -->
</body>

</html>